.search-form{
  display: flex;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  padding: 70px 0 69px;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 10px;
}

.search-form__form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #FDFDFD;
  border-radius: 5px;
  padding: 19px 0 19px 19px;
  max-width: 913px;
  margin: 0;
}

.search-form__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 913px;
  border-right: 1px solid #CBCBCB;
}

.search-form__lupa{
  width: 34px;
  height: 34px;
  margin-right: 19px;
}

.search_form__input{
  border: none;
  width: 100%;
  background-color: #FDFDFD;
  font-size: 18px;
  line-height: 20px;
}

.search_form__input:focus{
  outline: 1px solid #000;
}

.search-form__button{
outline: none;
border: 0;
background-color: transparent;
background-position: center;
padding: 0 19px 0 0;
height: 34px;
}

.search-form__button:hover{
  opacity: 80%;
  cursor: pointer;
}

.search-form__find{
  width: 80px;
  height: 34px;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
  .search-form{
    padding: 80px 0 109px;
    max-width: 708px;
  }

  .search-form__form{
    max-width: 500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-form{
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 80px 10px 0;
  }

  .search-form__container{
    border-right: none;
  }

  .search-form__lupa{
    display: none;
  }

  .search-form__form{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
}

.chechbox{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  border-radius: 5px;
}

.chechbox__toggle{
  position: relative;
  margin-right: 14px;
  cursor: pointer;
}

.chechbox__input{
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.chechbox__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.chechbox__input + .chechbox__span{
  display: block;
  background-color: #EBEBEB;
  width: 36px;
  height: 20px;
  border-radius: 20px;
}

.chechbox__span:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
}

.chechbox__input:checked + .chechbox__span{
  background-color: #2BE080;
}

.chechbox__input:checked + .chechbox__span:after {
  right: calc(100% - 16px);
  transform: translateX(200%);
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  .chechbox{
    padding: 0 20px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .chechbox{
    margin: 45px auto;
  }

  .chechbox__text{
    font-size: 11px;
  }

  .chechbox__toggle{
    margin-right: 13px;
  }
}