.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  background-color: #073042;
}

.header_white{
 background-color: #FFF;
}

.header__logo{
  cursor: pointer;
}

.header__button-register{
  outline: none;
  border: none;
  background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.header__button-login {
  background-color: #2BE080;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__button-login:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__link{
  text-decoration: none;
  outline: none;
  color: #FFF
}

.header__link:hover{
  cursor: pointer;
  opacity: 70%;
}