.about-project {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
}

.about-project__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  color: #000;
  margin: 0;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 70px 0 110px;
}

.about-project__text-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.about-project__text-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  max-width: 550px;
  height: auto;
  margin: 0;
}

.about-project__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 26px;
  width: 550px;
}

.about-project__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  width: 550px;
}

.about-project__progress {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 72px;
  box-sizing: border-box;
}

.about-project__progress-backend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
}

.about-project__progress-item_backend {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 228px;
  padding-bottom: 14px;
  color: #A0A0A0;
  background-color: unset;
  padding: 9px 0;
}

.about-project__progress-item_toxicgreen {
  color: #000;
  background-color: #2BE080;
} 

.about-project__progress-frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 912px;
  box-sizing: border-box;
  margin: 0;
}

.about-project__progress-item_frontend {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 14px;
  color: #A0A0A0;
  background-color: unset;
  padding: 9px 0;
}

.about-project__progress-item_grey {
  color: #000;
  background-color: #F2F2F2;
}

.about-project__progress-item__padding {
  padding-top: 14px;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  .about-project__subtitle{
    max-width: 319px;
  }

  .about-project__text{
    max-width: 319px;
  }
}

@media screen and (max-width: 767px){
  .about-project{
    padding: 90px 50px;
  }

  .about-project__info{
    align-items: center;
    padding: 70px 0 93px;
  }

  .about-project__text-info{
    max-width: 319px;
  }

  .about-project__subtitle{
    width: 319px;
  }

  .about-project__text{
    width: 319px;
  }
  
  .about-project__progress-item_backend{
    width: 140px;
  }

  .about-project__progress-item_frontend{
    width: 528px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .about-project{
    padding: 70px 18px;
  }

  .about-project__title{
    padding-bottom: 28px;
  }

  .about-project__subtitle{
    width: 284px;
  }

  .about-project__text{
    width: 284px;
    padding-top: 16px;
  }

  .about-project__progress-item_backend{
    width: 100px;
  }

  .about-project__progress-item_frontend{
    width: 184px;
  }

  .about-project__text-box{
    flex-direction: column;
  }

  .about-project__info{
    padding: 0;
    padding-bottom: 60px;
  }

  .about-project__text-info{
    padding-top: 60px;
  }

  .about-project__text-info:last-of-type{
    padding-top: 56px;
  }
}
