.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__container{
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
}

.login__icon{
  margin: 70px 0 0;
  width: 38px;
  height: 38px;
}

.login__title{
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  padding: 40px 0;
  margin: 0 auto;
}

.login__form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__label{
  align-self: flex-start;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 20px 0 10px;
}

.login__label:first-of-type{
  margin: 0 0 10px;
}

.login__input{
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  box-sizing: border-box;
  border: none;
  background-color: #F9F9F9;
  border-radius: 5px;
  height: 46px;
}

.login__error{
  font-family: 'Inter';
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #FF3055;
}

.login__btn{
  max-width: 396px;
  width: 100%;
  background-color: #3456F3;
  color: #F9F9F9;
  height: 45px;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-top: 179px;
}

.login__btn_dslb{
  background-color: grey;
}

.login__btn:hover{
  cursor: pointer;
}

.login__text{
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
}

.login__link{
  
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #3456F3;
  text-decoration: none;
}

.login__link:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login__container{
    padding-top: 162px;
  }

  .login__title{
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .login__container{
    max-width: 260px;
    align-items: center;
    padding: 0;
  }

  .login__icon{
    margin: 56px 0 0;
  }

  .login__title{
    padding: 50px 0 80px;
  }

  .login__btn{
    font-size: 12px;
    line-height: 14.5px;
    margin-top: 267px;
  }

  .login__text{
    font-size: 12px;
    line-height: 14.5px;
  }
}